@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');

@utility container {
  @apply mx-auto
}
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 780px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1180px;
  --breakpoint-2xl: 1500px;
  --color-primary: #734BDF;
  --font-onest: "Onest", sans-serif;
  /* --font-inter: "Inter", sans-serif; */
}
